@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --c-white: 255, 255, 255;
  --c-black: #101214;
  --c-black-rgb: 16, 18, 20;
  --c-berry: #c8c2cf;
  --c-berry-rgb: 200, 194, 207;
  --c-purple: #a399a8;
  --c-purple-rgb: 163, 153, 168;
  --c-grey: #e6dfe4;
  --c-grey-rgb: 230, 223, 228;
  --c-grey-dark: #000000;
  --c-grey-dark-rgb: 84, 77, 86;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
    font-family: 'Poppins', sans-serif;
  
}

@keyframes moveBackground {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, -50%);
  }
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.animate-moveBackground {
  animation: moveBackground 50s linear infinite;
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}


:root {
  --delay: 0.1s; /* Retraso entre letras */
}

/* Animación para las letras (más lenta y fluida) */
@keyframes letterAnimation {
  0% {
    transform: translateY(100%);
  }
  20% {
    transform: translateY(0);
  }
  80% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-letter {
  animation: letterAnimation 5s linear infinite; /* Animación más lenta */
}